{% extends "base.html" %}

{% block style_block %}
    <style type="text/css">
        table.table { width: 60%; }
    </style>
{% endblock %}

{% block content %}

    <h1 id="">All Examples</h1>
    <div>&nbsp;</div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Added by</th>
                <th>Added on</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for example in examples %}
            {% set example_id = example.key.id() %}
            <tr>
                <td>{{ example_id }}</td>
                <td>{{ example.example_name }}</td>
                <td>{{ example.example_description }}</td>
                <td>{{ example.added_by }}</td>
                <td class="nowrap">{{ example.timestamp.strftime('%b %d, %Y %I:%M %p') }}</td>
                <td>
                    <a href="{{ url_for('edit_example', example_id=example_id) }}" class="btn">Edit</a>
                </td>
                <td>
                    <form method="post" action="{{ url_for('delete_example', example_id=example_id) }}">
                        <button class="btn">Delete</button>
                    </form>
                </td>
            </tr>
            {% else %}
            <tr><td colspan="7">No examples yet</td></tr>
            {% endfor %}
        </tbody>
    </table>
    <p>
        <a class="btn btn-primary" data-toggle="modal" data-target="#new-example-modal">
            <i class="icon-plus-sign icon-white"></i>
            New example
        </a>
    </p>



{% endblock content %}

{% block footer %}
    {% include 'new_example.html' %} {# pull in new_example form (modal dialog) #}
{% endblock footer %}

{% block tail_script %}
    <script>
        var FormHelpers = {
            validate: function (form, evt) {
                // Form validation for modal dialog
                var example_name = form.find('#example_name').val();
                var example_description = form.find('#example_description').val();
                if (!(example_name)) {
                    evt.preventDefault();
                    Utils.renderFieldErrorTooltip('#example_name', 'Name is required', 'right');
                }
                if (!(example_description)) {
                    evt.preventDefault();
                    Utils.renderFieldErrorTooltip('#example_description', 'Description is required', 'right');
                }
            },
            init: function () {
                var self = this;
                var example_form = $('#new-example-form');
                example_form.on('submit', function (evt) {
                    self.validate(example_form, evt)
                });
            }
        };
        $(document).ready(function() {
            FormHelpers.init();
        });
    </script>
{% endblock tail_script %}
