{% extends "base.html" %}

{% block content %}
<p>
	<a href="{{ url_for('list_examples') }}">List examples</a> | <a href="{{ url_for('new_example') }}">New example</a>
</p>
{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
		<ul class="flash">
			 {% for category, message in messages %}
				<li class="{{category}}">{{ message }}</li>
			 {% endfor %}
		</ul>
	{% endif %}
{% endwith %}
<ul>
    <h1 id="">All Examples</h1>
    {% for example in examples %}
    <li>
        ID: {{ example.example_id }}<br />
        Title: {{ example.example_title }}<br />
    </li>
    {% else %}
    <li>No examples yet</li>
    {% endfor %}
</ul>
{% endblock %}
