
/* Main stylesheet */

html {background-color: #333;}
body {background-color: #fff; margin: 2em auto; width: 960px; padding: 1em; border: 8px solid #ccc;}
form label {display: block;}

/* Your customizations here */