<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">Flask on App Engine</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Dropdown Menu
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Item One</a></li>
                            <li><a href="#">Item Two</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="https://developers.google.com/appengine/docs/python/python27/using27">App Engine docs</a>
                    </li>
                    <li>
                        <a href="http://flask.pocoo.org/">Flask docs</a>
                    </li>
                    <li>
                        <a href="http://twitter.github.com/bootstrap">Bootstrap docs</a>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!-- /.navbar .container -->
    </div><!-- /.navbar-inner -->
</div><!-- /navbar -->
